*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("img sejarah/background.jpg");
    overflow-x: hidden;
    background-attachment: fixed;
}
.head{
    position: fixed;
    z-index: 77;
    width: 100%;
    margin-top: -90px;
}
.header{
    background-color: #E17D07;
    width: 100%;
    height: 75px;
    left:100px;
}
.header button{
    z-index: 66;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 10px;
    background-color: peru;
    border: 0px solid white;
    border-radius: 100px;
}
.search{
    position: absolute;
    top: 20px;
    right: 70px;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
}
.search input{
    width: 300px;
    height: 30px;
    border-radius: 100px;
}
.search button{
    width: 30px;
    height: 30px;
    color:#ff5e00;
    border-radius: 100px;
}

.header h1{
    color: white;
    font-size: 2.3em;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-family: Pacifico;
    margin-left: 100px;
}
.nav{
    position: relative;
    background-color: #E7955A;
    width: 100%;
    height: 35px;
    
}
.nav ul{
    list-style: none;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
}
.nav ul li{
    float: left;
    margin-top: 6px;
}
.nav ul li a{
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
    text-decoration: none;
    transition: 0.5s;
}
.nav ul li a:hover{
    color: #ff0000;
    font-size: 1.1em;
    text-decoration: none;
}
.section{
    background-color: rgba(255, 255, 255, 0.788);
    width: 1150px;
    
    border: 8px solid gold;
    border-radius: 40px;
    border-style: inset;
    margin-left: 180px;
    margin-right: 380px;
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 30px 70px 10px 10px;
}
img{
    width: 850px;
    height: 440px;
    border-radius: 30px;
    border: 2px solid black;
    
}
.img{
    margin-left: -25px;
    text-align: center;
}
hr{
    color: gold;
    border-radius: 100px;
    border: 4px solid rgb(255, 166, 0);width: 900px;
    margin-left: 100px;
}
.text{
    margin-left: 70px;
}
.footer{
    width: 1520px;
    background-color: #E17D07;
    border-top: 5px solid rgb(217, 255, 0);
    border-bottom: 5px solid rgb(217, 255, 0);
}
    .footer h1{
        color: white;
        font-size: 2.8em;
        line-height: 70px;
        letter-spacing: 0.1em;
        font-family: Pacifico;
        padding-top: 50px;
        text-align: center;
    }
    .footer p{
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
        text-align: center;
        color: white;
        font-size: 1.2em;
    }
    .media{
        margin: 40px 0px 40px 0px;
        text-align: center;
    }
    .media li{
        list-style: none;
        display: inline;
        padding: 50px;
    }
    .footer li svg{
        width:30px;
        height: 30px;
        color: white;
    }
    .footer li svg:hover{
        width:35px;
        height: 35px;
        color: rgb(0, 60, 255);
        transition: 0.4s;
    }
    .footer .last{
        background-color: #ff8800;
        font-size: 1.6em;
        height: 70px;
    }

.text h2{
    height: 50px;
    border-radius: 40px;
    background-color: #ff5e00;
    border: 2px solid rgb(245, 145, 99);
    color: white;
    vertical-align: middle;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.text h1{
    margin-left: 80px;
    height: 50px;
    width: 800px;
    border-radius: 40px;
    background-color: #ff5e00;
    border: 2px solid rgb(245, 145, 99);
    color: white;
    vertical-align: middle;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

