*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("img golongan/background.jpg");
    overflow-x: hidden;
    background-attachment: fixed;
}
.head{
    position: fixed;
    z-index: 77;
    width: 100%;
    margin-top: -75px;
}
.header{
    background-color: #E17D07;
    width: 100%;
    height: 75px;
    left:100px;
}
.header button{
    z-index: 66;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 10px;
    background-color: peru;
    border: 0px solid white;
    border-radius: 100px;
}
.search{
    position: absolute;
    top: 20px;
    right: 70px;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
}
.search input{
    width: 300px;
    height: 30px;
    border-radius: 100px;
}
.search button{
    width: 30px;
    height: 30px;
    color:#ff5e00;
    border-radius: 100px;
}

.header h1{
    color: white;
    font-size: 2.3em;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-family: Pacifico;
    margin-left: 100px;
}
.sections{
    width: 100%;
    height: 100px;
    margin-top: 75px;
    background-color: rgba(66, 73, 72, 0.747);
    border-bottom: 5px solid rgb(217, 255, 0);
    border-top: 5px solid rgb(217, 255, 0);
}
.sections h1{
    vertical-align: middle;;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 23px 0px 0px 0px;;
    font-family: 'montserrat', sans-serif;
}
.section{
    background-color: rgba(255, 255, 255, 0.788);
    width: 1150px;
   
    border: 8px solid gold;
    border-radius: 40px;
    border-style: inset;
    margin-left: 180px;
    margin-right: 380px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 10px 10px 10px;
}
.section p{
    font-size: 1.1em;
    line-height: 25px;
}
.col-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}
.col-1 img{
    margin-right: 8px;
    border-radius: 10px;
    width: 500px;
    height: 720px;
}
.col-1 p{
    text-indent: 30px;
    font-size: 1.1em;
}
.conteiner-1{
    display: flex;
    flex-direction: column;
}
.col-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}
.col-2 .container-2{
    width: 4200px;
    margin-right: 20px;
    padding-right: 15px;
    
}
.container-2 img{
    width: 1110px;
    height: 620px;
    margin-bottom: 10px;
    border: 2px solid black;
}
ol{
    line-height: 30px;
    margin-left: 48px;
    font-size: 1.1em;
}
.col-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}
.col-3 .container-5{
    width: 6600px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 5px solid #E17D07;
}
h2{
    background-color: #E17D07;
    color: white;
    border-radius: 30px;
    border: 2px solid yellow;
    font-family: 'montserrat', sans-serif;
    text-align: center;
}




.footer{
    width: 1520px;
    background-color: #E17D07;
    border-top: 5px solid rgb(217, 255, 0);
    border-bottom: 5px solid rgb(217, 255, 0);
}
    .footer h1{
        color: white;
        font-size: 2.8em;
        line-height: 70px;
        letter-spacing: 0.1em;
        font-family: Pacifico;
        padding-top: 50px;
        text-align: center;
    }
    .footer p{
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
        text-align: center;
        color: white;
        font-size: 1.2em;
    }
    .media{
        margin: 40px 0px 40px 0px;
        text-align: center;
    }
    .media li{
        list-style: none;
        display: inline;
        padding: 50px;
    }
    .footer li svg{
        width:30px;
        height: 30px;
        color: white;
    }
    .footer li svg:hover{
        width:35px;
        height: 35px;
        color: rgb(0, 60, 255);
        transition: 0.4s;
    }
    .footer .last{
        background-color: #ff8800;
        font-size: 1.6em;
        height: 70px;
    }

.text h2{
    width: 500px;
    height: 50px;
    border-radius: 40px;
    background-color: #ff5e00;
    border: 2px solid rgb(245, 145, 99);
    color: white;
    vertical-align: middle;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
