*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: hidden;

}
.header{
    background-color: #E17D07;
    width: 100%;
    height: 75px;
    justify-content: space-evenly;
}
.search{
    position: absolute;
    top: 20px;
    right: 70px;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: #f1f1f1;
}
.search input{
    width: 300px;
    height: 30px;
    border-radius: 100px;
}
.search button{
    width: 30px;
    height: 30px;
    color:#ff5e00;
    border-radius: 100px;
}

.header h1{
    color: white;
    font-size: 2.3em;
    line-height: 70px;
    letter-spacing: 0.1em;
    font-family: Pacifico;
    margin-left: 100px;
}
.nav{
    position: fixed;
    background-color: #E7955A;
    width: 100%;
    height: 35px;
    
}
.nav ul{
    list-style: none;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
}
.nav ul li{
    float: left;
    margin-top: 6px;
}
.nav ul li a{
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
    text-decoration: none;
    transition: 0.5s;
}
.nav ul li a:hover{
    color: #ff0000;
    font-size: 1.1em;
    text-decoration: none;
}
.section{
    background-image: url("background.png");
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 658px;
}
.section h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 4em;
    letter-spacing: 18px;;
    position: fixed;
    top: 250px;
    padding-left: 60px;
}
.section p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
    position: fixed;
    top: 375px;
    padding-left: 80px;
}
.footer{
    background-color: #E17D07;
    width: 100%;
    height: 20px;
}
